.corpo{
  font-family: roboto;
  display: grid;
  height: 100vh;
  gap: 3px;
  grid-template-columns: 0.5fr 0.5fr 2fr 0.5fr ;
  grid-template-rows: 0.2fr 0.3fr 0.1fr 1.7fr 0.5fr;
  grid-template-areas: 
  "header header header header "
  " . listaMembros listaMembros ."
  " . leftBox topBar . "
  " . leftBox rightBox . "
  ". . . .";
}

.header{
  font-style: italic;
  color: rgba(24, 22, 22, 0.836);
  background-color: #F5F5F5;
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_searchbar{
  display: flex;
  border-radius: 0%;
  border: 0.5px solid grey;
}

.listaMembros{
  font-size: 1.60rem;
  display: flex;
  align-items: center;
  grid-area: listaMembros;
}

.leftBox{
  height: fit-content;
  min-width: fit-content;
  border: 1px solid darkgrey;
  grid-area: leftBox;
  padding: 15% 15% 45% 15%;
  margin-right: 3rem;
}
.leftBox_filtros{
  display: flex;
  flex-direction: column;
}

.topBar{
  height: 4rem;
  border: 1px solid darkgrey;
  grid-area: topBar;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 1.5rem;
}
.topBar_inner_search{
  display: flex;
  border: 1px solid black;
}
.topBar_selecionar{
  margin-left: 35vw;
}

.rightBox{
  padding: 2%;
  border: 1px solid darkgrey;
  grid-area: rightBox;
  display: flex;
  flex-wrap: wrap;
}
.rightBox_card_click{
  display: flex;
  justify-content: center;
  font-size: 0.95rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border: 1px solid black;
  border-radius: 10%;
  height: 10rem;
  width: 7rem;
  box-shadow: 3px 3px  grey;
}
.rightBox_card_content{
  height: 10rem;
  width: 7rem;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}
.rightBox_card_content_icon{
  border-radius: 50%;
}
.rightBox_card_content_name{
  width: 6rem;
  text-align: center;
}
.rightBox_card_content_followers{
  display: flex;
  flex-direction: row;
  align-items: center;
}